<script>
window.fbAsyncInit = function() {
        FB.init({
          appId      : '1411739829134468',
          xfbml      : true,
          version    : 'v2.1'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
</script>

<div class="container" style="padding-top: 50px;">

  <div class="starter-template">


    <div class="row" style="vertical-align:middle; padding-top:10%">
      <div class="col-md-4 col-md-offset-4 panel">
      <center>
        <h1>Welcome</h1>
        <p>Login into Facebook to start</p>
        <p class="lead"><div id="facebook-login-div">
        <a class="btn btn-block btn-social btn-facebook" href="/auth/facebook/">
    <i class="fa fa-facebook"></i> Sign in with Facebook
  </a>
          </div>
          <div>
          </p>
      </center>
      </div>
    </div>
  </div>
</div><!-- /.container -->
