<!-- Default home page -->
<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
<script type="text/javascript">
  setTimeout(function sunrise() {
    document.getElementsByClassName('header')[0].style.backgroundColor = '#118798';
  }, 0);
</script>

<div class="default-page">
  <div class="header">
    <h1 id="main-title" class="container">Welcome <%= user.name %></h1>
        <p class="container">
        Welcome to your personlised user page where you can top-up your bucket, make changes to your account and checkout your recent likes. If you have
        any problems have a look at the help pages.
        </p>
      <div class="row" style="padding-top: 5%;">
    <div class="col-md-2 col-md-offset-3">
      <img src="http://placehold.it/150x150">
    </div>
    <div class="col-md-4" style="padding-top: 1%;">
      <div class="panel panel-default" >
        <div class="panel-heading">
          Account Information
        </div>
        <div class="panel-body">
          <p>Name:- <%= user.name %></p>
          <p>Email:- <%= user.email %></p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="container">

  <div class="row" style="padding-top: 5%;">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-primary">
        <div class="panel-heading" style="padding-bottom: 20px">
          <h4>
            Recent Likes          
            <div class="pull-right">
              <img src="http://upload.wikimedia.org/wikipedia/commons/1/13/Facebook_like_thumb.png" width="32px" height="32px">
            </div>
          </h4>

        </div>
    
        <table class="table table-hover">
          <thead>
          <tr>
            <th>
              Date
            </th>
            <th>
              Like
            </th>
            <th>
              Unlike
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              20/03/2015
            </td>
            <td>
              Facebook World
            </td>
            <td>
              FB link
            </td>
          </tr>
          <tr>
            <td>
              19/03/2015
            </td>
            <td>
              Best Hampster Ratings
            </td>
            <td>
              FB link
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
