<!-- Default home page -->
<link type="text/css" href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
<script type="text/javascript">
  setTimeout(function sunrise() {
    document.getElementsByClassName('header')[0].style.backgroundColor = '#118798';
  }, 0);
</script>

<div class="default-page">
  <div class="header">
    <h1 id="main-title" class="container">Welcome <%= user.name %></h1>
        <p class="container">
        Welcome to your personlised user page where you can top-up your bucket, make changes to your account and checkout your recent likes. If you have
        any problems have a look at the help pages.
        </p>
      <div class="row" style="padding-top: 5%;">
    <div class="col-md-2 col-md-offset-3">
      <img src="http://placehold.it/150x150">
    </div>
    <div class="col-md-4" style="padding-top: 1%;">
      <div class="panel panel-default" >
        <div class="panel-heading">
          Account Information
        </div>
        <div class="panel-body">
          <p>Name:- <%= user.name %></p>
          <p>Email:- <%= user.email %></p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="container">

<% if(user.likes.length != 0) { %>
  <div class="row" style="padding-top: 5%;">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-primary">
        <div class="panel-heading" style="padding-bottom: 20px">
          <h4>
            Recent Likes          
            <div class="pull-right">
              <img src="http://upload.wikimedia.org/wikipedia/commons/1/13/Facebook_like_thumb.png" width="32px" height="32px">
            </div>
          </h4>
        </div>
        <table class="table table-hover">
          <thead>
          <tr>
            <th>
              Like
            </th>
          </tr>
          </thead>
          <tbody>
          
             <tr>
              <td>
                No Likes to display :(
              </td>
            </tr>
          
          </tbody>
        </table>
      </div>
    </div>
  </div>
        <% } else { %>
                    <div class="row" style="padding-top: 5%;">
          <div class="col-md-1 col-md-offset-2"><a href="/bucket">
          <button class="btn btn-default btn-lg" type="submit" style="background-color: white; color: black;">
          <p>Add funds to your bucket</p>
          <img src="https://www.paypalobjects.com/webstatic/mktg/Logo/AM_mc_vs_ms_ae_UK.png" border="0" alt="PayPal Acceptance Mark">
          </button></a>
          </div>
          <div class="col-md-1 col-md-offset-3" style="padding-top: 1%;">
          <a href="/link">
          <button class="btn btn-default btn-lg" type="submit">
          <p>Your Buckets Balance</p>
          <center>
          <h1>&pound;<%= bucket.ammunt %></h1>
          <small>
            The money will be divided up on 31/03/15 <br>
            Click here to become a recipient
          </small>
          </center>
          </button></a>
          </div>
          </div>

        <% } %>

</div>
