<script>
 function statusChangeCallback(response) {
   console.log('Hi there mofo');
   console.log(response.authResponse.accessToken);
   if (response.status === 'connected') {
     testAPI();
   } else if (response.status === 'not_authorized') {
     document.getElementById('status').innerHTML = 'Please log ' +
       'into this app.';
   } else {
     document.getElementById('status').innerHTML = 'Please log ' +
       'into Facebook.';
   }
 }

 function checkLoginState() {
   FB.getLoginStatus(function(response) {
     statusChangeCallback(response);
   });
 }

 window.fbAsyncInit = function() {
 FB.init({
   appId      : '1411739829134468',
   cookie     : true,
   xfbml      : true,
   version    : 'v2.2'
 });

 FB.getLoginStatus(function(response) {
   statusChangeCallback(response);
 });

 };

 (function(d, s, id) {
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) return;
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/en_US/sdk.js";
   fjs.parentNode.insertBefore(js, fjs);
 }(document, 'script', 'facebook-jssdk'));

 function testAPI() {
   console.log('Welcome!  Fetching your information.... ');
   FB.api('/me', function(response) {
   console.log(response);
     console.log('Successful login for: ' + response.name);
     document.getElementById('status').innerHTML =
       'Thanks for logging in, ' + response.name + '!';
   });
 }
</script>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Like Bucket</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container" style="padding-top: 50px;">

  <div class="starter-template">
    

    <div class="row" style="vertical-align:middle; padding-top:10%">
      <div class="col-md-4 col-md-offset-4 panel">
      <center>
        <h1>Welcome</h1>
        <p>Login into Facebook to start</p>
        <p class="lead"><div id="facebook-login-div">
          <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
          </fb:login-button>

          <div id="status">
          </div>
          <div>
          </p>
      </center>
      </div>
    </div>    
  </div>
</div><!-- /.container -->
